@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }
  
  .marquee {
    animation: marquee 18s linear infinite;
    display: flex;
  }